html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.content-row {
  height: 100%;
}

.sidenav {
  background-color: black;
  height: 100%;
}

.sidenav a {
  font-size: 25px;
  color: #818181;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.center {
  text-align: center;
}

/* Bootstrap overrides */
.container-fluid {
  height: 100%;
  overflow: hidden;
}